body {
	background:#2388c9;
	width:auto;
	height:100%;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
}
a, 
a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
#container  {
	position:relative;
	width:100%;
}


/* ANIMATION */
#stage {
	top:0px;
	left:0px;
	z-index:100;
}
.stage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-width:900px;
	min-height:890px;
	height:100%;
	overflow:hidden;
}
#clouds {
	background:url(../..//img/cloud.jpg) 0 0 repeat-x #248bc9;
}


/* CONTENT */
#ticket {
	background:url(../../img/ticket.png) 0 0 no-repeat transparent;
	width:801px;
	height:340px;
	z-index:1000;
	position:relative;
	top:200px;
    display:block;
	margin:auto;
}
#ticket_left {
	width:550px;
	height:310px;
	margin-left:42px;
	float:left;
}
#ticket_right {
	width:209px;
	height:310px;
	float:right;
}
.text1_a {
	text-transform:uppercase;
	color:#fff;
	font-family:'Candal', Arial, Helvetica, Tahoma, sans-serif;
	font-size:44px;
	letter-spacing:-4px;
	position:absolute;
	left:77px;
	top:49px;
}
.text2_a {
	text-transform:uppercase;
	color:#fff;	
	font-size:21px;
	position:absolute;
	left:323px;
	top:99px;
}
.text3_a {
	text-transform:uppercase;
	color:#fff;
	font-family:'Candal', Arial, Helvetica, Tahoma, sans-serif;
	font-size:42px;
	letter-spacing:-4px;
	position:absolute;
	left:77px;
	top:113px;
}
.text4_a {
	text-transform:uppercase;
	color:#fff;	
	font-size:18px;	
	letter-spacing:1px;
	position:absolute;
	left:77px;
	top:177px;
}
.text5_a {
	color:#272727;	
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:203px;
}
.text6_a {
	text-transform:uppercase;
	color:#909090;	
	font-size:22px;	
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:220px;
}
.text7_a {
	color:#272727;	
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:269px;
	top:203px;
}
.text8_a {
	text-transform:uppercase;
	color:#909090;	
	font-size:22px;	
	letter-spacing:1px;
	position:absolute;
	left:270px;
	top:220px;
}
.text9_a {
	color:#272727;	
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:418px;
	top:185px;
}
.text10_a {
	color:#272727;	
	font-size:50px;	
	letter-spacing:1px;
	position:absolute;
	left:417px;
	top:195px;
}
.text11_a {
	color:#272727;	
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:261px;
}
.text12_a {
	text-transform:uppercase;
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:279px;
}
.text12_a ul {
	list-style:none;
	padding:0;
	margin:0;
}
.text12_a li {
	color:#909090;
	display:inline;
	padding:0;
	margin:0;
}
.text12_a a {
	color:#909090;
}
.text12_a li:before {
	content:"| ";
}
.text12_a li:first-child:before {
	content:"";
}
.text1_b {
	text-transform:uppercase;
	color:#272727;
	font-family:'Candal', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	letter-spacing:-1px;
	position:absolute;
	left:604px;
	top:31px;
}
.text2_b {
	text-transform:uppercase;
	color:#272727;	
	font-size:13px;	
	letter-spacing:-1px;
	word-spacing:-3px;
	position:absolute;
	left:604px;
	top:48px;
}
.text3_b {
	color:#272727;	
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:103px;
}
.text4_b {
	text-transform:uppercase;
	color:#909090;	
	font-size:22px;	
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:119px;
}
.text5_b {
	color:#272727;	
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:163px;
}
.text6_b {
	text-transform:uppercase;
	color:#909090;	
	font-size:22px;	
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:179px;
}
.text7_b {
	color:#272727;	
	font-size:15px;	
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:220px;
}
.text8_b {
	color:#272727;	
	font-size:30px;	
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:234px;
}
.text9_b {
	color:#272727;	
	font-size:60px;	
	letter-spacing:1px;
	position:absolute;
	left:722px;
	top:209px;
}
.text10_b {
	color:#272727;	
	font-size:10px;	
	letter-spacing:0px;
	position:absolute;
	left:682px;
	top:268px;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	#ticket_right, 
	.text4_a, 
	.text5_a, 
	.text6_a, 
	.text7_a, 
	.text8_a, 
	.text9_a, 
	.text10_a {
		display:none;
	}
}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 959px) {
	.stage {
		min-width:480px;
	}
	#ticket {
		background:url(../img/ticket_small.png) 0 0 no-repeat transparent;
		width:478px;
		height:315px;
		top:100px;
		text-align:center;
	}
	#ticket_left {
		width:478px;
		margin-left:0;
		float:none;
	}
	.text1_a {
		top:84px;
		left:0;
		width:478px;
	}
	.text2_a {
		top:150px;
		left:0;
		width:478px;
	}
	.text3_a {
		top:165px;
		left:0;
		width:478px;
	}
	.text11_a {
		top:250px;
		left:0;
		width:478px;
	}
	.text12_a {
		top:268px;
		left:0;
		width:478px;
	}
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.text1_a {
		display:none;
	}
	.stage {
		min-width:320px;
	}
	#ticket {
		background:url(../img/ticket_very_small.png) 0 0 no-repeat transparent;
		width:320px;
		height:315px;
		top:100px;
		text-align:center;
	}
	#ticket_left {
		width:320px;
		margin-left:0;
		float:none;
	}
	.text2_a {
		top:100px;
		left:0;
		width:320px;
	}
	.text3_a {
		top:115px;
		left:0;
		width:320px;
	}
	.text11_a {
		top:200px;
		left:0;
		width:320px;
	}
	.text12_a {
		top:225px;
		left:0;
		width:280px;
		margin:0 20px;
	}
	.text12_a a {
		padding:5px;
		display:inline-block;
	}
	.text12_a li:before {
		content:" ";
	}
}